body {
	background-color: #E6DAC0;
	font-family: "Inter", sans-serif;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	padding-inline: clamp(15px, 5vw, 100px);
}

/* Компоненти */
.button{
	transition: 
	   background-color 0.3s, 
	   color 0.3s;
	color: #000000;
	background-color: #F3ECDE;
	text-align: center;
	padding-inline: clamp(30px, 3vw, 45px);
	padding-block: clamp(10px, 1.5vw, 35px);
	border-radius: 262px;
	font-size: clamp(16px, 1vw, 32px);
}
.button:hover{
	background-color: #000000;
	color: #FFFFFF;
}
.button--dark{
	background-color: #000000;
	color: #FFFFFF;
}
.button--dark:hover{
	background-color: #FFFFFF;
	color: #000000;
}

/* ---------- */

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: #E6DAC0;
	padding-block: clamp(15px, 3vw, 42px);
}

.header__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
@media (width<= 630px) {
	.header__container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 15px;
  }
}
.header__logo {
	width: clamp(100px, 10vw, 260px);
}
.header__menu {
	flex-grow: 1;
}
.menu {
}
.menu__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: clamp(15px, 2vw, 80px);
}
.menu__link {
	font-size: clamp(16px, 1vw, 32px);
}
.header__button{
	transition: 
	   background-color 0.3s, 
	   color 0.3s;
	border: 1px solid #000000;
	padding-inline: clamp(30px, 3vw, 83px);
	padding-block: clamp(10px, 2vw, 19px);
	border-radius: 262px;
	font-size: clamp(16px, 1vw, 32px);
	text-align: center;
}
.header__button:hover {
	background-color: #000000;
	color: white;
}
@media (width<= 400px) {
	.header__button {
		align-self: stretch;
  }
}
.menu__limk:hover{
	text-decoration: underline;
}

 /* ---------------- */

.hero {
	min-height: 100svh;
	padding-top: clamp(100px, 7.5vw, 200px);
	display: flex;
	align-items: flex-end;
}
.hero__container {
	display: flex;
	gap: 30px;
	align-items: center;
}
.hero__content {
	flex-basis: 100px;
	flex-grow: 1;
	padding-block: clamp(20px, 2vw, 40px);
}
.hero__title {
	font-size: clamp(30px, 5vw, 128px);
	font-weight: 600;
}
.hero__title:not(:last-child){
	margin-bottom: 0.1875em;
}
.hero__text {
	font-size: clamp(16px, 1vw, 40px);
	font-weight: 300;
	line-height: 1.5;
}
.hero__text:not(:last-child){
	margin-bottom: 1.6em;
}
.hero__text p:not(:last-child){
	margin-bottom: 0.5em;
}
.hero__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: clamp(10px, 1vw, 28px);
}
.hero__picture {
	flex-basis: 100px;
	flex-grow: 1;
	align-self: flex-end;
}
/* @media (width <= 630px) {
	.hero {
	    padding-top: 160px;
   }
} */

@media (width <= 992px) {
	.hero {
		padding-top: 160px;
	}
	.hero__container {
	   flex-direction: column;
   }
	.hero__content {
		text-align: center;
   }
	.hero__buttons {
		align-items: center;
		justify-content: center;
   }
}

@media (width <= 400px) {
	.hero__buttons {
		flex-direction: column;
		align-items: stretch;
   }
}

 /* ---------------- */

 .models {
	display: flex;
	min-height: 100svh;
}
.models__item {
}
.item-model {
	flex-basis: 50%;
	position: relative;
	display: flex;
	align-items: flex-end;
	padding-inline: clamp(15px, 3vw, 100px);
	padding-top: 50px;
	padding-bottom: clamp(30px, 3vw, 350px);
}
.item-model__content {
	position: relative;
	z-index: 2;
	color: #FFFFFF;
}
.item-model__title {
	font-size: clamp(28px, 3vw, 64px);
	font-weight: 600;
}
.item-model__title:not(:last-child){
	margin-bottom: 0.37em;
}
.item-model__text {
	font-size: clamp(16px, 1vw, 36px);
	line-height: 1.5;
}
.item-model__text p:not(:last-child){
	margin-bottom: 0.5em;
}
.item-model__text:not(:last-child){
	margin-bottom: 1.7em;
}
.item-model___image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (width < 768px) {
	.models {
		flex-direction: column;
	}
	.item-model {
		flex-basis: 50svh;
	}
}

 /* ---------------- */

 .download {
	/* min-height: 100svh;
	/* padding-top: clamp(100px, 7.5vw, 297px); */
	/* display: flex;
	align-items: center; */
}
.download__container {
	display: flex;
	flex-direction: column;
	min-height: 100svh;
	justify-content: center;
	align-items: center;
}
.download__content {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: clamp(50px, 7vw, 300px);
	padding-bottom: clamp(30px, 5vw, 170px);
}
.download__title {
	text-wrap: balance;
	font-size: clamp(36px, 5vw, 96px);
	font-weight: 600;
}

.download__title:not(:last-child) {
	margin-bottom: 0.25em;
}

.download__text {
	font-size: clamp(16px, 1vw, 36px);
	line-height: 1.5;
}
.download__text p:not(:last-child) {
	margin-bottom: 0.5em;
}
.download__text:not(:last-child) {
	margin-bottom: 1.7em;
}
.download__image {
	max-width: 46%;
}

@media (width < 768px) {
.download__image {
	max-width: 46%;
}
}

 /* ---------------- */

 .video {
	height: 100svh;
}
.video__item {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

 /* ---------------- */

 .footer {
	padding-block: clamp(5px, 2vw, 40px);
}
.footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}
.footer__logo {
	width: clamp(100px, 10vw, 260px);
}

.footer__button{
	transition: 
	   background-color 0.3s, 
	   color 0.3s;
	border: 1px solid #000000;
	width: clamp(40px, 3vw, 85px);
	border-radius: 262px;
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1;
	font-size: clamp(16px, 2vw, 32px);
}
.footer__button:hover {
	background-color: #000000;
	color: white;
}

